<div class="wrapper-wellness-tb">
  <table class="table table-bordered table-wellness mt-5" width="100%">
    <tbody>
      <tr>
        <th colspan="2">
          <strong class="text-center">Design Features</strong>
        </th>
      </tr>
      <tr>
        <td>
          State-of-the-Art Exercise Equipment from LifeFitness - DISCOVER ST
          CONSOLE series, experience integrated TV entertainment during your
          workout.
        </td>
        <td>
          Hammer Strength's - strength training equipment for intense workouts.
        </td>
      </tr>
      <tr>
        <td>LesMills® programmed class</td>
        <td>State-of-the-art technology RPM® Room</td>
      </tr>
      <tr>
        <td>
          The Visbody R-Explorer - 3D avatar and body composition analysis.
        </td>
        <td>2-Olympic standard double fish table tennis</td>
      </tr>
      <tr>
        <td>
          SPARTANS Boxing franchise, specialized in Martial Art, boxing, safety
          and discipline modalities.
        </td>
        <td>Warm, calm, soothing cozy Yoga &amp; Body Balance® studio</td>
      </tr>
      <tr>
        <td>Functional Training Area</td>
        <td>Consultation, goal setting &amp; social room</td>
      </tr>
      <tr>
        <td>Hanging light with open ceiling</td>
        <td>Pump station</td>
      </tr>
      <tr>
        <th colspan="2"><strong class="text-center">Services</strong></th>
      </tr>
      <tr>
        <td>Day passes and membership</td>
        <td>Personal Training, booth camp, HIIT program</td>
      </tr>
      <tr>
        <td>Group, scheduled fitness classes &amp; wellness workshop</td>
        <td>Boxing &amp; Martial Art Championship event</td>
      </tr>
      <tr>
        <td>Live DJ performance</td>
        <td>Nutrition &amp; weight Management</td>
      </tr>
      <tr>
        <td>Private Studio Room</td>
        <td>Table Tennis</td>
      </tr>
      <tr>
        <td>
          Male &amp; Female Changing Room with thermal facilities, sauna, steam
          room &amp; jacuzzi
        </td>
        <td>Individual Locker Room Services</td>
      </tr>
      <tr>
        <td>Internet Café/ Juice Bar</td>
        <td>
          Sports Pro-shop (sale of sportswear, yoga attire &amp; merchandise)
        </td>
      </tr>
    </tbody>
  </table>
</div>
